*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.components-container{
  display: flex;
  flex-direction: column;
}


.search-recipes{
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle h2{
  font-size: 48px;
  color: #1D164D;
  text-align: left;
}