.footer {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

.footer__copyright {
  color: #2D3561;
  font-family: sans-serif;
  font-size: 1.6rem;
}

.footer__links {
  display: flex;
}

.footer__links a {
  color: var(--color-text);
  font-family: 'Muli';
  font-size: 1.6rem;
  text-decoration: none;
}

.footer__links a:first-child{
  margin-right: 3rem;
}

/*Phone*/
@media (min-width: 320px) 
  and (max-width: 480px) {
  .footer {
    padding: 0 1.5rem;
  }

  .footer__links {
    text-align: center;
  }

  .footer__links a:first-child{
    margin-right: 0;
  }
}

/*Tablet*/
@media (min-width: 481px) 
  and (max-width: 1100px) {
  .footer {
    padding: 0 1.5rem;
  }

  .footer__links {
    text-align: center;
  }

  .footer__links a:first-child{
    margin-right: 1.5rem;
  }
}

/*Desktop*/
@media (min-width: 1101px)
  and (max-width: 1600px) {

}

/*Ultra*/
@media (min-width: 1601px) {

}