.container{
  display: flex;
  height: 100vh;
}

.container > div{
  display: flex;
  flex-direction: column;
  margin: auto 0;
  padding-left: 10rem;
}

.container h1{
  color: #2D3561;
  font-size: 4.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}

.container form{
  display: grid;
  gap: 1rem;
  flex-direction: row;
  grid-template-columns: repeat(2, 1fr);
}

form > div{
  padding: 0;
  margin: 0;
}

.container img{
  transform: scaleX(-1);
  height: 100vh;
  position: absolute;
  right: 0;
  z-index: -99;
}

@media (max-width: 978px) {
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  
}

