.container{
  display: flex;
  height: 100vh;
}

.container > div{
  display: flex;
  flex-direction: column;
  margin: auto 0;
  padding-left: 10rem;
  @media (max-width: 478px) {
    padding: 1rem;
  }
  @media (max-width: 478px) {
    padding: 1rem;
  }
}

h1 {
  color: #2D3561;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  align-items: center;
  @media (max-width: 769px) {
    text-align: center;
  }
}

form{
  display: grid;
  gap: 1rem;
  flex-direction: row;

  grid-template-columns: repeat(2, 1fr);
  @media (max-width: 978px) {
    grid-template-columns: repeat(1, 1fr);
  }
  margin: 0 auto;
}