.container {
  display: flex;
  height: 100vh;
}

.container > div {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  padding-left: 10rem;
  @media (max-width: 769px) {
    padding: 5rem;
  }
  @media (max-width: 478px) {
    padding: 1rem;
  }
}

.container h1{
  color: #2D3561;
  font-size: 4.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

form > div{
  padding:0 ;
  margin: .5%;
}

button {
  margin-top: 1rem;
}


img {
transform: scaleX(-1);
height: 100vh;
position: absolute;
right: 0;
z-index: -99;

}


@media (max-width: 415px) {
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container > div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img{
    display: none;
  }
}

