.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 46px 0;
}

.header-container a {
  text-decoration: none;
  color: #BADC58;
  font-weight: 700;
  padding: 0 30px;
}

.header-subtitles{
  margin-right: 150px;
}

.header-subtitles #register{
  padding: 50px 25px;
  background-color: #BADC58;
  color: white;
}

.header-container .logo{
  font-size: 32px;
  
}

.header-container .register{
  font-size: 16px;
  
}