.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 6%;
}

.header-container a {
  text-decoration: none;
  color: #4cff4c;
  font-weight: 700;
}

.header-container .logo{
  font-size: 32px;
}