.join {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.join__email {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 8rem;
}

.join__email label {
  max-width: 360px;
  margin-bottom: 3rem;

  color: #2D3561;
  font-family: sans-serif;
  font-size: 3.2rem;
  text-align: left;
}

.email__input {
  display: flex;
  align-items: center;
}

.email__input input {
  width: 34.3rem;
  height: 5.2rem;
  padding: 1.5rem;

  outline-style: none;
  border: 1px solid var(--color-text-title);
  border-radius: .5rem;
}

.email__input input::placeholder {
  color: var(--color-text);
  font-family: 'Muli';
  font-size: 1.6rem;
}

.email__input button {
  width: 13.4rem;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
  
  background: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: .5rem;
  font-family: 'Muli';
  font-size: 1.6rem;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

/*Phone*/
@media (min-width: 320px) 
  and (max-width: 480px) {
  .join {
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;

    background: url('../../images/final-image.svg') no-repeat;
    background-size: contain;
    background-position: right top;
  }

  .join__image {
    display: none;
  }
  
  .join__email {
    padding: 2rem;
  }
}

/*Tablet*/
@media (min-width: 481px) 
  and (max-width: 1100px) {
  .join {
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;

    background: url('../../images/final-image.svg') no-repeat;
    background-size: contain;
    background-position: right top;
  }

  .join__image {
    display: none;
  }
  
  .join__email {
    padding: 2rem;
  }
}